@font-face {
  font-family: "SegoeWP-Bold";
  src: url("../fonts/SegoeWP/SegoeWP-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeWP-Light";
  src: url("../fonts/SegoeWP/SegoeWP-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeWP-Regular";
  src: url("../fonts/SegoeWP/SegoeWP-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SimploCapsDEMO-Regular";
  src: url("../fonts/SimploCapsDEMO/SimploCapsDEMO-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* F I X E D  W I D T H */
.work-area {
  width: 1280px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.head-menu-bar {
  background-color: #444;
}

nav.head-menu ul {
  float: right;
  margin-right: 150px;
}

nav.head-menu ul li {
  display: inline-block;
  margin-left: 20px;
}

nav.head-menu ul li a {
  font-family: "SegoeWP-Light", "Arial", Sans-serif;
  color:  #ddd;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

nav.head-menu ul li a:hover, nav.head-menu ul li a:active {
  color: #fff;
}

.head-main-bar {
  height: 112px;
  background-image: linear-gradient(to top, #ececec, #ffffff);
}

a.logo {
  display: inline-block;
  margin: auto 0 auto 140px;
  width: 136px;
  height: 73px;
  background-image: url("../img/logo.png"); 
  background-repeat: no-repeat;
  text-decoration: none;
}

a.logo span.books-logo {
  display: block;
  float: left;
  padding-top: 19px;
  padding-left: 18px;
  width: 96px;
  height: 54px;
  font-family: "SimploCapsDEMO-Regular", "Arial", Sans-serif;
  font-size: 28px;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  color: #fff;
}

a.logo span.online-logo {
  display: block;
  float: right;
  width: 22px;
  height: 73px;
  font-family: "SimploCapsDEMO-Regular", "Arial", Sans-serif;
  color:  #5b5b5b;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
/*







.logo {
  width: 136px;
  height: 74px;
  margin: 21px 0 0 140px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}

header .head-main-bar .work-area form fieldset {
  width: 458px;
  border-radius: 2px;
  background-color: #8bb065;
}

#search-field {
  width: 328px;
  height: 33px;
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 5px;
  border-radius: 2px;
  background-color: #ffffff;
}

#search-btn {
  background-color: inherit;
  cursor: pointer;
  font-family: SegoeWPN;
  font-size: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

*/